@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #202020;
  --foreground: #171717;
  --Colors-Text-text-placeholder_subtle: #D5D7DA;
  --Colors-Text-text-brand-tertiary_alt: #E87400;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  position: relative;
  overflow-x: hidden !important;
}

/* Inter Font */
@font-face {
  font-family: 'Inter';
  src: url('./../public/fonts/inter/Inter_Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  font-stretch: stretch;
}

@font-face {
  font-family: 'Inter';
  src: url('./../public/fonts/inter/Inter_ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  font-stretch: stretch;
}

@font-face {
  font-family: 'Inter';
  src: url('./../public/fonts/inter/Inter_Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  font-stretch: stretch;
}

@font-face {
  font-family: 'Inter';
  src: url('./../public/fonts/inter/Inter_Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-stretch: stretch;
}

@font-face {
  font-family: 'Inter';
  src: url('./../public/fonts/inter/Inter_Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  font-stretch: stretch;
}

@font-face {
  font-family: 'Inter';
  src: url('./../public/fonts/inter/Inter_SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  font-stretch: stretch;
}

@font-face {
  font-family: 'Inter';
  src: url('./../public/fonts/inter/Inter_Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  font-stretch: stretch;
}

@font-face {
  font-family: 'Inter';
  src: url('./../public/fonts/inter/Inter_ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  font-stretch: stretch;
}

@font-face {
  font-family: 'Inter';
  src: url('./../public/fonts/inter/Inter_Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  font-stretch: stretch;
}